:root {
    --azul-utez: #002E5D;
    --verde-utez: #00AB84;
    --gris-utez: #707372;
    --color-texto: #5E6366;
    --sign-out: rgb(138, 0, 0);
}

.login-container {
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.10);
    min-height: 100vh;
}

.title {
    font-size: 42px;
    color: var(--verde-utez);
}

.email-label,
.password-label {
    font-size: 18px;
    color: var(--azul-utez);
}

.email-input,
.password-input {
    color: var(--color-texto);
    height: 55px;
}

.forget-password,
.register-now {
    font-size: 14px;
    text-decoration: underline;
    color: var(--gris-utez);
    transition: all 0.3s;
}

.forget-password:hover,
.register-now:hover {
    color: var(--verde-utez);
}

.signIn-btn {
    background-color: var(--verde-utez);
    color: #fff;
    transition: all 0.3s;
}

.signIn-btn {
    position: relative;
    padding: 10px 20px;
    border: none;
    background-color: var(--verde-utez);
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
}

.signIn-content {
    position: relative;
    z-index: 2;
}

.signIn-btn span {
    position: absolute;
    width: 100%;
    height: 95px;
    background-color: #002f5d60;
    top: -50%;
    left: -100%;
    transition: all 0.3s;
    z-index: 1;
}

.signIn-btn:hover span {
    left: -0%;
}