.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    width: 470px;
    height: 190px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    background: url('data:image/svg+xml;utf8,<svg width="215" height="188" viewBox="0 0 215 188" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M50 -34L214.533 102.124L151.687 322.376H-51.6869L-114.533 102.124L50 -34Z" fill="%233366FF" fill-opacity="0.05" /></svg>') no-repeat center left;
    background-size: contain;
    transition: all 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.colorLabel {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 5%;
    height: 100%;
    margin-right: 50px;
}

.cardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 470px));
    gap: 1.5rem;

}

.request-document-btn {
    position: relative;
    border: none;
    background-color: var(--verde-utez);
    cursor: pointer;
    overflow: hidden;
    width: 90px;
    height: 24px;
    border-radius: 4px;
    font-size: 10px;
}


.request-document-content {
    position: relative;
    z-index: 2;
}

.request-document-btn span {
    position: absolute;
    width: 100%;
    height: 95px;
    background-color: #045c4782;
    top: -50%;
    left: -100%;
    transition: all 0.3s;
    z-index: 1;
}

.request-document-btn:hover span {
    left: -0%;
}

.requirements-btn {
    position: relative;
    border: none;
    background-color: #C9DFE9;
    cursor: pointer;
    overflow: hidden;
    width: 90px;
    height: 24px;
    border-radius: 4px;
    font-size: 10px;
}


.requirements-content {
    position: relative;
    z-index: 2;
}

.requirements-btn span {
    position: absolute;
    width: 100%;
    height: 95px;
    background-color: #84b9d183;
    top: -50%;
    left: -100%;
    transition: all 0.3s;
    z-index: 1;
}

.requirements-btn:hover span {
    left: -0%;
}