@font-face {
  font-family: 'Esphimere';
  src: url(./assets/fonts/esphimere-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Esphimere', sans-serif;
}